.about{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 1px 0 8px 1px rgba(0, 0, 0, .25);
}

.about h1{
    margin-left: 12px;
    font-size: 32px;
}
.about .aboutme{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about .aboutme img{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.about .aboutme .about-card{
    margin-left: 30px;
}
.about .aboutme .about-card ul{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .aboutme .about-card li{
    margin-top: 20px;
    width: calc(100% /2);
    white-space: nowrap;
    list-style-type: none;list-style: none;
}
.about .aboutme .about-card .myinfo{
    margin-top: 20px;
}

.about .aboutme .about-card img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

