@media (max-width: 767px) {
    header {
        height: 40px;
        left: 0;
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        top: 0;
        z-index: 9999;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        height: 50px;
        left: 0;
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        top: 0;
        z-index: 9999;
    }
}
@media (min-width: 1024px) {
    header {
        height: 50px;
        left: 0;
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        top: 0;
        z-index: 9999;
    }
}
@media (max-width: 767px) {
    header hr{
        border-width: 1px;
        border-color: #fff;
        box-shadow: 1px 0 8px 1px rgba(0, 0, 0, .25);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    header hr{
        border-width: 1px;
        border-color: #fff;
        box-shadow: 1px 0 8px 1px rgba(0, 0, 0, .25);
    }
}
@media (min-width: 1024px) {
    header hr{
        border-width: 1px;
        border-color: #fff;
        box-shadow: 1px 0 8px 1px rgba(0, 0, 0, .25);
    }
}
@media (min-width: 1024px) {
    header .header-inner {
        margin-left: 5rem;
        margin-right: 5rem;
        background-color: #fff;
    }
}
@media (min-width: 1024px) {
    header .header-inner .container {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: space-between;
    }
}
@media (max-width: 767px) {
    header .header-inner .container #logo {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    header .header-inner .container #logo {
        display: none;
    }
}
@media (min-width: 1024px) {
    header .header-inner .container #logo {
        font-family: Billabong;
        font-size: 36px;
    }
}
@media (max-width: 767px) {
    header .header-inner .container nav {
        align-items: center;
        display: flex;
        font-size: 12px;
        height: 40px;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    header .header-inner .container nav {
        align-items: center;
        display: flex;
        font-size: 16px;
        height: 50px;
        justify-content: space-around;
        margin: 0 auto;
        width: 80%;
    }
}
@media (min-width: 1024px) {
    header .header-inner .container nav {
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        width: 500px;
    }
}
