.projectList{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 32px;
}
.projectList h1 {
    margin-left: 10px;
}
.projectList .project-card{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px; 
}
.projectList .project-card .card-img{ 
    border-right: 0.5px solid #ccc;
}
.projectList .project-card .card-img img{
    width: 400px;
    height: 300px;
    object-fit: fill;
}
.projectList .project-card table{
    border-collapse : collapse;
    width: 59%;
    height: 300px;
}
.projectList .project-card table td{
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
}
.projectList .project-card table td button{
    border: 0;
    background-color: transparent;
}
.projectList .project-card table td p{
    margin-top: 5px;
    text-align: left;
    white-space: pre-wrap;
    tab-size: 4;
}